<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="onNavToggle($event)">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movie Spy</a>
    </div>
  </div>
</nav>
<div class="topNav" [@navLinkState]="navDrawer.navState">
    <div class="topNavItem" *ngFor="let item of navDrawer.navItems">
        <button type="button" class="btn btn-primary btn-lg btn-block"
        [routerLink]="[item.route]">{{item.name}}</button>
    </div>
</div>