<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Search</li>
  </ol>

  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Search for..." [(ngModel)]="search.searchQuery">
    </div>
    <button class="btn btn-default" type="button" (click)="onSubmit()">Search!</button>
  </form>


  <div class="panel panel-default" *ngIf="search.response.Title">
    <div class="panel-heading">{{ search.response.Title }}</div>
    <div class="panel-body">
      <p>{{ search.response.Plot }}</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">{{ search.response.Actors }}</li>
      <li class="list-group-item">{{ search.response.Released }}</li>
      <li class="list-group-item">{{ search.response.Genre }}</li>
      <li class="list-group-item">{{ search.response.Awards }}</li>
      <li class="list-group-item">{{ search.response.Language }}</li>
    </ul>

    <img src="{{ search.response.Poster }}" class="img-responsive">

  </div>

</div>